[defaults]
inventory = inventory/vm.ini
remote_user = infivit
private_key_file = ~/.ssh/id_ansible
host_key_checking = False
retry_files_enabled = False
timeout = 30

; [privilege_escalation]
; become = True
; become_method = sudo
; become_user = root
; become_ask_pass = False